
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assignments</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Assignments.styles.css" asp-append-version="true" />
</head>
<body>
    <h1 style="text-align:center">Tất cả bài viết</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="border-color:black;">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/z3137914221064_820625787ee9bed10b5a6a0d4abfd9b4_e802848f286448529d9e6f967c9d4285_large.jpg" alt="" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">BE THE KING | BAO LÌ XÌ 2022 | 160STORE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/z3134284735645_f09a305c9ca696a2c4a38400f0078ab4__1__dc88fa7b5d3d42e3969eaa1e5305f82d_large.jpg" alt="" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">SALE TẾT NHÂM DẦN 2022 - 160STORE</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/169643185_4387139261305103_8885637948959310096_n_b605b0de23e84ca78f34fea007edaf87_large.jpg" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">Hoàn Ngay 30k Khi Thanh Toán Qua Moca</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/169643185_4387139261305103_8885637948959310096_n_ae788f7a20304cc6bbe1a3e047968f03_large.jpg" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">What Does "READY TO WEAR" Mean?</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/1_0fb12336fb3048a89f4d5ae4c357d4ff_large.jpg" alt="" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">FLASHS.ALE 11.11 - DUY NHẤT 1 NGÀY</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/52d34003f923347d6d32_02141b8277a44b19ac17633048062f8e_large.jpg" alt="" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">TẾT "RỘN RÀNG" - FREESHIP TẤT CẢ ĐƠN HÀNG</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/z3049167826905_9c967a9ff1c4223b452daa047c8b6751_8ed838a48b8c4f81bcd506b7eb3f867f_large.jpg" alt="" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">
                                    GIÁNG SINH RỘN RÀNG - QUÀ TẶNG NGẬP TRÀN
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <img src="https://file.hstatic.net/1000253775/article/c6a420630645cb1b9254_946479e9c73d4e55947cc5afa9dcc671_large.jpg" alt="" style="width: 270px; height: auto;">
                                <p class="card-text" style="text-align: center;">"Mặc Xanh - Thu Nhận Đồ Cũ"</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <h1 style="text-align:center">Địa chỉ cửa hàng</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="border-color:black;">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Hồ Chí Minh - Trần Hưng Đạo</strong></p>
                                    <p>375 Đ. Trần Hưng Đạo, Cầu Kho, Quận 1, Thành phố Hồ Chí Minh, Việt Nam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Hồ Chí Minh - Tô Hiến Thành</strong></p>
                                    <p>297/3 Tô Hiến Thành, Phường 12, Quận 10, Thành phố Hồ Chí Minh, Việt Nam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Hồ Chí Minh - Khuông Việt</strong></p>
                                    <p>111 Khuông Việt, Phú Trung, Tân Phú, Thành phố Hồ Chí Minh 700000, Việt Nam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Hồ Chí Minh - Phan Xích Long</strong></p>
                                    <p>401 Phan Xích Long, Phường 3, Phú Nhuận, Thành phố Hồ Chí Minh 700000, Việt Nam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Hồ Chí Minh - Gò Vấp</strong></p>
                                    <p>94 Đ. Lê Văn Thọ, Phường 11, Gò Vấp, Thành phố Hồ Chí Minh, Việt Nam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Hồ Chí Minh - Tô Vĩnh Diện</strong></p>
                                    <p>54 Tô Vĩnh Diện, Linh Chiểu, Thủ Đức, Thành phố Hồ Chí Minh 700000, Việt Nam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;">
                                    <p class="card-text" style="text-align: center;"><strong>Hà Nội - Tôn Đức Thắng</strong></p>
                                    <p>Số 2 Tôn Đức Thắng, Ngõ 232 P. Tôn Đức Thắng, Hàng Bột, Đống Đa, Hà Nội 100000, Việt Nam</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Biên Hòa - Phan Trung</strong></p>
                                    <p>157 Đ. Phan Trung, Tân Mai, Thành phố Biên Hòa, Đồng Nai</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Cần thơ - Trần Phú</strong></p>
                                    <p>35 Trần Phú, Thới Bình, Ninh Kiều, Cần Thơ 94107</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <p class="card-text" style="text-align: center;"><strong>Đà Nẵng - Lý Tự Trọng</strong></p>
                                    <p>144 Lý Tự Trọng, Thuận Phước, Hải Châu, Đà Nẵng 550000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>